* {
    /* border: 2px solid purple; */
    font-family: Muli, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

a:hover {
    text-decoration: underline;
    color: #E5E7EB;
    cursor: pointer;
}

body {
    box-sizing: border-box;
    margin: 64px 0 0 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

li, ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.header {
    gap: 32px;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 64px;
    align-items: center;
    padding: 0 280px;
}

.nav {
    display: flex;
    gap: 32;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;   
    color: #F9FAF8;
    margin-right: auto;
}


.hero, .header, .footer {
    background-color: #1F2937;
    display: flex;
}

.hero, .block1, .block2, .block3 {
    padding: 64px 280px;
}

.hero {
    gap: 32px;
    align-items: center;
}

.title {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin: 0;
    padding: 0px;
    font-family: Pacifico;
    line-height: 48px;
}

.subtitle, .nav-link, .footer {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-content, .item {
    display: flex;
    flex-direction: column;
}

.hero-content {
    justify-content: space-between;
    align-items: flex-start;
    gap: 36px;
    margin-right: auto;
}

.img {
    max-width: 500px;
    height: auto;
}

.list {
    display: flex;
    gap: 12px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 12px;
}

.title.info {
    font-size: 36px;
    color: #1F2937; 
    text-align: center;  
    line-height: 36px;
    margin-bottom: 64px;
}

.list-image:hover {
    transform: scale(1.2);
    transition-duration: 0.5s;
}

.list-text {
    font-size: 14px;
    text-align: center;
    color: #1F2937;
    max-width: 180px; 
}

.item {
    align-items: center;
    gap: 8px
}


.block2 {
    background-color: #E5E7EB;
}

.quote {
    font-size: 36px;
    font-style: oblique;
    font-weight: 300;
    color: #1F2937;    
    margin-bottom: 16px;
}

.author {
    font-size: 24px;
    font-weight: bold;
    color: #1F2937; 
    text-align: right;
}

.banner, .CTA {
    background-color: #3882f6;
    border-radius: 8px;
}

.banner-title {
    color: #F9FAF8;
    font-size: 24px;
}

.banner-text {
    font-size: 18px;
    color: #E5E7EB;
}

.CTA {
    padding: 8px 24px;
    color: #F9FAF8;
    font-size: 18px;
    transition-duration: 0.4s;
}

.CTA:hover {
    background-color: #E5E7EB;
    color: #3882f6;
    cursor: pointer;
}

.banner-button {
    border: 2px solid #F9FAF8;
}

.icon {
    max-width: 64px;
    height: auto;
}

.banner {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
    padding: 64px;
}

.banner-content {
    margin-right: auto;
}

.footer {
    align-items: center;
    justify-content: center;
    padding: 32px 280px;
}